<h2>
  <div>
    <%= proficiency.id %>
  </div>
  <div>
    <%= proficiency.examination %>
  </div>
  <div>
    <%= proficiency.ratio %>
  </div>
  <div>
    <%= proficiency.total %>
  </div>
  <div>
    <%= proficiency.examinationDate.toISOString().split('T')[0] %>
  </div>
</h2>
<a href="/proficiencys/<%= proficiency.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/proficiencys/${proficiency.id}` }) %>